<h1> Form Results here!</h1>
<a href = "/"> Home </a>

<br>
    <p> Name:</p>
    <p>@ViewBag.Name</p>
<br>
    <p> Dojo Location :</p>
    <p>@ViewBag.location</p>
<br>
    <p> Favorite Language:</p>
    <p>@ViewBag.language</p>
<br>
    <p> Comments:</p>
    <p>@ViewBag.comments</p>

<br>
